themes/nyt_wc/template_parts/content-page.php
themes/twentysixteen/404.php
themes/twentysixteen/archive.php
themes/twentysixteen/comments.php
themes/twentysixteen/css/editor-style.css
themes/twentysixteen/css/ie.css
themes/twentysixteen/css/ie7.css
themes/twentysixteen/css/ie8.css
themes/twentysixteen/footer.php
themes/twentysixteen/functions.php
themes/twentysixteen/genericons/COPYING.txt
themes/twentysixteen/genericons/Genericons.eot
themes/twentysixteen/genericons/Genericons.svg
themes/twentysixteen/genericons/Genericons.ttf
themes/twentysixteen/genericons/Genericons.woff
themes/twentysixteen/genericons/LICENSE.txt
themes/twentysixteen/genericons/README.md
themes/twentysixteen/genericons/genericons.css
themes/twentysixteen/header.php
themes/twentysixteen/image.php
themes/twentysixteen/inc/back-compat.php
themes/twentysixteen/inc/customizer.php
themes/twentysixteen/inc/template-tags.php
themes/twentysixteen/index.php
themes/twentysixteen/js/color-scheme-control.js
themes/twentysixteen/js/customize-preview.js
themes/twentysixteen/js/functions.js
themes/twentysixteen/js/html5.js
themes/twentysixteen/js/keyboard-image-navigation.js
themes/twentysixteen/js/skip-link-focus-fix.js
themes/twentysixteen/page.php
themes/twentysixteen/readme.txt
themes/twentysixteen/rtl.css
themes/twentysixteen/screenshot.png
themes/twentysixteen/search.php
themes/twentysixteen/searchform.php
themes/twentysixteen/sidebar-content-bottom.php
themes/twentysixteen/sidebar.php
themes/twentysixteen/single.php
themes/twentysixteen/style.css
themes/twentysixteen/template-parts/biography.php
themes/twentysixteen/template-parts/content-none.php
themes/twentysixteen/template-parts/content-page.php
themes/twentysixteen/template-parts/content-search.php
themes/twentysixteen/template-parts/content-single.php
themes/twentysixteen/template-parts/content.php
